SERVER_FLAG = "dZFvcOYvdw9dmBV"
NEXT_PUBLIC_CLIENT_FLAG = "NZI5hPJ1sOIKNzi"

DB_HOST = "mariadb"
DB_USER = "nextjs"
DB_PASSWORD = "S44yanf9Fh3JtJxF"
DB_NAME = "CyberPrint"

FTP_HOST = "ftp.team7.isucdc.com"
# TODO: Update these credentials
FTP_USER = "user1"
FTP_PASSWORD = "password"
FTP_LOCAL_DIR = "/var/www/html/uploads"
FTP_REMOTE_DIR = "uploads"

KEYCLOAK_CLIENT_ID="CyberPrint"
# TODO: Update this secret
KEYCLOAK_CLIENT_SECRET="WZUenvgHiTG0iOXxmYlvNwU8xuLZxwrG"
KEYCLOAK_ISSUER="http://international-2025.local:8080/realms/CyberPrint"

AUTH_SECRET="51ofpIOPcC56mh9pwqU5n9t7+N9AR6+W8oQYNIn2e3c="
NEXTAUTH_URL="http://international-2025.local/"
NEXTAUTH_URL_INTERNAL="http://localhost:3000"